name: test

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-kafka:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Test with Kafka
        run: make test-kafka GOTEST_FLAGS="-v -count=1"

  test-redpanda:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Test with Redpanda
        run: make test-redpanda GOTEST_FLAGS="-v -count=1"
